In [12]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 9.6 MB/s eta 0:00:00[36m0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (pyproject.toml) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp310-cp310-linux_x86_64.whl size=584214 sha256=442558e0445194fbf8a7ef07cbde347d18fc281b754b526a9a7e5d259b97b1a5
  Stored in directory: /home/codespace/.cache/pip/wheels/7d/75/13/da1c6d88687ae81bf5e3cfa07d702981ba137963163472b050
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9

In [10]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
zone_lookup = pd.read_csv('taxi+_zone_lookup.csv')

In [3]:
len(zone_lookup)

265

In [4]:
zone_lookup.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [13]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [14]:
engine.connect()

In [15]:
print(pd.io.sql.get_schema(zone_lookup, name='zone_lookup', con=engine))

CREATE TABLE zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [17]:
zone_lookup.head(n=0).to_sql(name='zone_lookup', con=engine, if_exists='replace')

0

In [18]:
zone_lookup.to_sql(name='zone_lookup', con=engine, if_exists='append')

265